@{
    ViewBag.Title = "影厅控制";

    string DType = ViewBag.DType;
}
@DType

<div id="dvContent">

</div>

<script type="text/javascript">
    $(window).load(function () {

        GetData();
    });

    $(document).ready(function () {
        $(".switch").on('switch-change', function (e, data) {

            alert($(data.el).attr("id"));
            alert(data.value);

            console.log($(data.el).attr("id"), data.value);
        });
    });

    function GetData() {

            $.ajax({
            url: '@Url.Action("Cinema", "Home")',
            data: { menuID: '@DType' },
            dataType: 'html',
            success: function (data) {
                $('#dvContent').empty();
                $('#dvContent').html(data);
//                setTimeout(function () {
//                    layer.closeAll("loading");

//                }, 2000);
            }
        });
    }
</script>
