@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>123.5<sup style="font-size: 20px">KW</sup></h3>
                    <p>当前功率</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>23456.2<sup style="font-size: 20px">KWH</sup></h3>
                    <p>累计用电量</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">温度变化</h3>
                </div>
                <div class="box-body">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="main" style="width: 100%;height:200px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));

                        // 指定图表的配置项和数据
                        option = {
                            title: {
                                text: ''
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            //legend: {
                            //    data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                            //},
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            //toolbox: {
                            //    feature: {
                            //        saveAsImage: {}
                            //    }
                            //},
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name: '邮件营销',
                                    type: 'line',
                                    stack: '总量',
                                    data: [120, 132, 101, 134, 90, 230, 210]
                                },
                                {
                                    name: '联盟广告',
                                    type: 'line',
                                    stack: '总量',
                                    data: [220, 182, 191, 234, 290, 330, 310]
                                },
                                {
                                    name: '视频广告',
                                    type: 'line',
                                    stack: '总量',
                                    data: [150, 232, 201, 154, 190, 330, 410]
                                },
                                {
                                    name: '直接访问',
                                    type: 'line',
                                    stack: '总量',
                                    data: [320, 332, 301, 334, 390, 330, 320]
                                },
                                {
                                    name: '搜索引擎',
                                    type: 'line',
                                    stack: '总量',
                                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                                }
                            ]
                        };


                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">影厅空调控制</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-aqua" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>厅1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-aqua" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>厅1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-aqua" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>厅1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-aqua" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>厅1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-aqua" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>厅1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">公共区域空调</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-teal" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-teal" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box" style="width:80%">
                                <span class="info-box-icon bg-teal" style="height:210px"><i class="ion ion-ios-gear-outline"></i><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">当前温度:</span>
                                    <span class="info-box-number">25</span>
                                    <span class="info-box-text">设定温度:</span>
                                    <div class="input-group" style="width:100%">
                                        <select class="form-control text-center" style="max-width:100px">
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <span class="info-box-text">分机开关:</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                    <span class="info-box-text">冷热控制:</span>
                                    <div class="switch" data-on="danger" data-off="primary" data-on-label="热" data-off-label="冷">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">公共区域照明</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow-active"><h3>区域1</h3></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">&nbsp;</span>
                                    <div class="switch" data-on="success" data-off="warning" data-on-label="开" data-off-label="关">
                                        <input type="checkbox" checked />
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
